* {margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {font-family: sans-serif;
    background-color: #f7f7f7;
    color: #3d2f2f;
    padding: 20px;}

h1 {text-align: center;
    color: #376ea5;
    font-size: 3rem;
    text-transform: uppercase;
    transition: transform 0.3s, color 0.3s;}

h2 {text-align: center;
    color: #2980b9;
    font-size: 2rem;
    margin-bottom: 20px;
    transition: color 0.3s;}

h2:hover {color: #e74c3c;}

img {display: block;
    margin-left: auto;
    margin-right: auto;}

ul {list-style: none;
    padding-left: 0;
    margin-bottom: 20px;}

ul li {margin-bottom: 12px;
    font-size: 1.1rem;
    color: #708081;
    transition: color 0.3s, transform 0.3s;}

ul li:hover {color: #2980b9;
    transform: translateX(5px);}

.links a {text-decoration: none;
    color: #1abc9c;
    font-weight: 600;
    font-size: 1.2rem;
    transition: color 0.3s, transform 0.3s;}

.links a:hover {color: #e74c3c;
    transform: translateX(5px);}

footer {text-align: center;
    margin-top: 50px;
    padding: 15px;
    background-color: #34495e;
    color: white;
    font-size: 1.2rem;
    transition: background-color 0.3s;}

footer:hover {background-color: #1abc9c;}

footer a {color: #ecf0f1;
    text-decoration: none;}

footer a:hover {text-decoration: underline;}